vendor/
/generate
/beam/unified-logging/target
/beam/unified-logging/test
/beam/unified-logging/.settings/**
/beam/unified-logging/bin/.project
/beam/unified-logging/.project
/beam/unified-logging/.factorypath
/beam/unified-logging/.classpath
/terraform/**/.terraform
.vscode
*tfstate*
*.tar.gz